
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}


#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

form {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    max-width: 500px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/* Form fields */
label {
    font-weight: bold;
}

input[type="text"],
textarea,
select,
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Submit button */
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
    background: url("/lost.mp4");
}

/* Link */
a {
    display: flex;
    margin-top: 20px;
    color: #333;
}
